<!DOCTYPE html>
<html>
<head>
    <title>Code Cities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/css/sortable-theme-bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <div class="container body">
        <h1>Code Cities</h1>
        <h3>Where do developers live?</h3>
        <a href="https://github.com/otechie/code-cities" class="btn btn-warning">Star on Github</a>
        <a href="https://github.com/otechie/code-cities/archive/master.zip" class="btn btn-outline-warning">Download</a>

        <table class="sortable-theme-bootstrap main-table" data-sortable>
            <thead>
            <tr>
                <th data-sortable="false"></th>
                <th>City</th>
                <th data-sortable-type="numeric" class="hidden-xs">Population</th>
                <th data-sortable-type="numeric">Devs (with 5+ Repos)</th>
                <th data-sorted="true" data-sorted-direction="descending" data-sortable-type="numeric">Devs Per
                    1,000
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(city, rank) in cities">
                <th>{{rank + 1}}</th>
                <td>{{city.name}}</td>
                <td class="hidden-xs">{{city.population.toLocaleString()}}</td>
                <td>{{city.developers.toLocaleString()}}</td>
                <td>{{(city.developers / city.population * 1000 || 0).toFixed(1).toLocaleString()}}</td>
            </tr>
            </tbody>
        </table>
        <p>Created by</p>
        <a href="https://otechie.com">
            <div class="logo">
                <img src="logo-light.svg" height="20">
            </div>
        </a>
        <h5>Charge for Support</h5>
    </div>
</div>

<script>
  new Vue({
    el: '#app',
    created () {
      const self = this
      this.loadJSON('./output.json', (cities) => {
        self.cities = JSON.parse(cities)
          .filter(a => a.developers > 0)
          .sort((a, b) => b.developers / b.population - a.developers / a.population)
        exampleTable = document.querySelector('.sortable-theme-bootstrap')
        Sortable.initTable(exampleTable)
      })
    },
    data: {
      cities: [],
      docsURL: 'http://vuejs.org/guide/',
      discordURL: 'https://chat.vuejs.org',
      forumURL: 'http://forum.vuejs.org/'
    },
    methods: {
      loadJSON (fileName, callback) {
        const xobj = new XMLHttpRequest()
        xobj.overrideMimeType('application/json')
        xobj.open('GET', fileName, true) // Replace 'my_data' with the path to your file
        xobj.onreadystatechange = function () {
          if (xobj.readyState == 4 && xobj.status == '200') {
            // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
            callback(xobj.responseText)
          }
        }
        xobj.send(null)
      }
    }
  })
</script>
</body>
</html>

<style>
    body {
        text-align: center;
        color: white;
        background-image: linear-gradient(118deg, #4d34d2, #5f67b7);
        padding-top: 40px;
        padding-bottom: 40px;
        min-height: 100vh;
    }

    .main-table {
        margin: 4em auto 3em;
        overflow-x: auto;
    }

</style>
